<div class="header landing">
    {% include '../components/toolbar.twig' %}
    {% if live_exchange == true %} {% include '../modules/live-exchange/live-exchange.twig' %} {% endif %}
    {% include '../modules/navbar/navbar.twig' %}
</div>
