<section class="c-section s-about-us landing">
    {% include '../../../modules/create-demo/create-demo.twig' with {'pull': true} %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1> {{LangValue('index_c1_h1')}} </h1>
                <p>
                {{LangValue('index_c1_h2')}}
                </p>
            </div>
        </div>
    </div>
</section>
