<div class="c-section dark-style s-forex-training">
  <div class="container">
    <div class="c-section__title">
      <h1>Forex Eğitimi</h1>
      <h5>Eğitim videolarımız ile kazançlı yatırımların kapılarını aralayın!</h5>
    </div>
    <div class="row">
      <div class="col-12 order-2 order-sm-1 order-lg-1 col-md-7">
        <div id="fl-free-lessons" class="s-forex-training__content">
          <div class="row mt-5">
            <div class="col-12 col-md-6">
              <div class="c-video-box">
                <img src="assets/img/forex-training-video-1.jpg" alt="" />
                <div class="content">
                  <span>Forex'e Giriş</span>
                </div>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 35">
                    <defs />
                    <path fill="#FFF" fill-rule="nonzero" d="M30 14.0359c2.6667 1.5396 2.6667 5.3886 0 6.9282L6.749998 34.3875c-2.666678 1.5396-6-.3849-6-3.4641V4.0766c0-3.079205 3.333332-5.003697 6-3.464097L30 14.0359z" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="c-video-box">
                <img src="assets/img/forex-training-video-2.jpg" alt="" />
                <div class="content">
                  <span>Piyasa Analizleri</span>
                </div>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 35">
                    <defs />
                    <path fill="#FFF" fill-rule="nonzero" d="M30 14.0359c2.6667 1.5396 2.6667 5.3886 0 6.9282L6.749998 34.3875c-2.666678 1.5396-6-.3849-6-3.4641V4.0766c0-3.079205 3.333332-5.003697 6-3.464097L30 14.0359z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="row mt-0 lg-mt-2">
            <div class="col-12 col-md-6">
              <div class="c-video-box">
                <img src="assets/img/forex-training-video-3.jpg" alt="" />
                <div class="content">
                  <span>WebTrader Eğitimi</span>
                </div>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 35">
                    <defs />
                    <path fill="#FFF" fill-rule="nonzero" d="M30 14.0359c2.6667 1.5396 2.6667 5.3886 0 6.9282L6.749998 34.3875c-2.666678 1.5396-6-.3849-6-3.4641V4.0766c0-3.079205 3.333332-5.003697 6-3.464097L30 14.0359z" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="c-video-box">
                <img src="assets/img/forex-training-video-4.jpg" alt="" />
                <div class="content">
                  <span>Yeni Başlayanlara Özel</span>
                </div>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 35">
                    <defs />
                    <path fill="#FFF" fill-rule="nonzero" d="M30 14.0359c2.6667 1.5396 2.6667 5.3886 0 6.9282L6.749998 34.3875c-2.666678 1.5396-6-.3849-6-3.4641V4.0766c0-3.079205 3.333332-5.003697 6-3.464097L30 14.0359z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="fl-platforms" class="s-forex-training__content">
          asdasd
        </div>
        <div id="fl-analysis" class="s-forex-training__content">
          asdasdasd
        </div>
        <div id="fl-risk" class="s-forex-training__content">
          asdasdasdas
        </div>
      </div>
      <div class="col-12 order-1 order-sm-2 order-lg-2 col-md-5 d-flex flex-wrap align-content-md-stretch flex-lg-column justify-content-end">
        <a class="c-icon-box horizontal is-link"
           data-toggle-class
           data-toggle-target="#fl-free-lessons"
           data-toggle-radio-group="ForexLessons"
           data-toggle-is-active>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 58 60">
            <defs />
            <path
              fill="#6198E9"
              d="M57.3195 55.5809c-.0013-.0162-.0055-.0324-.0089-.0486-.0035-.0155-.0062-.0317-.0118-.0472-.0055-.0181-.0145-.0362-.0221-.0531-.0048-.0109-.0082-.0226-.0144-.0336-.0007-.0026-.0028-.0039-.0035-.0058-.011-.0181-.0228-.035-.0359-.0511-.0083-.011-.0145-.0227-.0234-.0337-.0118-.0129-.0249-.0239-.0387-.0356-.0124-.0123-.0234-.0246-.0372-.0356-.0118-.0084-.0235-.0142-.0366-.022-.0173-.0116-.0345-.0233-.0531-.0336-.0028-.0007-.0042-.0026-.0069-.0032l-5.1703-2.4912c-.0055-.0025-.0117-.0032-.0179-.0064-.0166-.0078-.0352-.0136-.0538-.0201-.0152-.0052-.0318-.0097-.0476-.0136-.0173-.0032-.0352-.0058-.0518-.0084-.0193-.0026-.0372-.0045-.0559-.0052-.0076 0-.0138-.0019-.02-.0019H6.55286c-.30222-.5649-.92392-.9557-1.64291-.9557-.49128 0-.95289.1799-1.30066.5053-.14214.134-.25668.2854-.345.4497H.695382c-.300154 0-.543038.2278-.543038.508v4.9809c0 .2809.242884.5086.543038.5086H3.26635c.30223.5655.92392.9551 1.64291.9551.71899 0 1.34138-.3896 1.6436-.9551H51.6097c.0331 0 .0669-.0032.1001-.0103.0048-.0007.0096-.0007.0145-.0026.0289-.0058.0579-.0136.0876-.0246.0069-.0026.0131-.0058.0193-.0084.009-.0039.0173-.0071.0255-.011l5.1703-2.4905c.0034-.0013.0062-.0039.0096-.0058.0297-.0149.0566-.0311.0821-.0505h.0014c.0235-.0181.0456-.0395.0663-.0615.0069-.0071.0117-.0136.0179-.02.0145-.0169.0283-.0369.0407-.0563.0048-.0058.009-.013.0131-.0181.0014-.0026.0035-.0052.0042-.0078.0062-.011.0089-.022.0144-.033.0083-.0175.0166-.0356.0221-.0537.0056-.0155.0083-.0317.0118-.0479.0034-.0155.0076-.0323.0089-.0479.0021-.0174.0007-.0336.0007-.0498s.0014-.0298-.0007-.0472zM3.07109 57.612H1.23842v-3.9626h1.83267v3.9626zm2.59304.2484c0 .0524-.0069.1022-.01794.1508 0 .0032-.00138.0071-.00207.0097-.07797.3125-.37674.5461-.73347.5461-.35398 0-.65137-.2297-.7321-.539-.00207-.0097-.00483-.0194-.00759-.0291-.00966-.0447-.01449-.0912-.01449-.1385v-4.4588c0-.0459.00483-.0931.01449-.1378.00207-.0078.0062-.0155.00689-.0233.03174-.1275.09868-.2446.20011-.339.14214-.1327.33121-.2064.53269-.2064.35742 0 .65619.2335.73347.5473.00069.0026.00138.0039.00207.0065.01173.0492.01863.1003.01863.1534v4.4581h-.00069zm45.40467-.2484H6.74952v-3.9626H51.0688v3.9626zm1.0839-.3236v-3.3141l3.4404 1.657-3.4404 1.6571z"
            />
            <path fill="#6198E9" d="M8.35095 56.1406H49.4899c.3002 0 .5424-.2291.5424-.5093 0-.2816-.2429-.5087-.5424-.5087H8.35095c-.29946 0-.54235.2278-.54235.5087-.00069.2802.2422.5093.54235.5093zM40.6524 40.4016h10.0327c.3002 0 .5424-.2278.5424-.5086V11.222c0-.2809-.2429-.5086-.5424-.5086H40.6524c-.2994 0-.543.2277-.543.5086v28.671c0 .2815.2436.5086.543.5086zm.5424-28.6704h8.948v27.6539h-8.948V11.7312z" />
            <path
              fill="#6198E9"
              d="M5.12976 49.6582H52.3471c2.6324 0 4.7728-2.0085 4.7728-4.477V41.223 8.03082c0-2.46664-2.1363-4.47257-4.7645-4.4771-.0035 0-.0069-.00064-.0097-.00064h-1.3724C50.7042 1.55233 48.8805 0 46.6766 0c-2.2025 0-4.0269 1.55233-4.2974 3.55308h-3.3721C38.7373 1.55233 36.9137 0 34.7098 0c-2.2025 0-4.0256 1.55233-4.296 3.55308H27.041C26.7719 1.55233 24.9482 0 22.745 0c-2.2032 0-4.0262 1.55233-4.2967 3.55308h-3.3721C14.8071 1.55233 12.9828 0 10.7796 0 8.57635 0 6.75266 1.55169 6.48218 3.55308H5.127c-1.50146 0-2.84147.65354-3.71709 1.67333C.749574 5.99448.353516 6.96962.353516 8.03082V45.1812c.00276 2.4685 2.143854 4.477 4.776244 4.477zM46.6766 1.0172c1.6036 0 2.9401 1.09873 3.2002 2.53588h-6.4005c.2595-1.43715 1.596-2.53588 3.2003-2.53588zm-11.9655 0c1.6043 0 2.9409 1.09873 3.201 2.53588h-6.3998c.2594-1.43715 1.5939-2.53588 3.1988-2.53588zm-11.9647 0c1.6043 0 2.9394 1.09873 3.1996 2.53588h-6.3999c.2602-1.43715 1.5967-2.53588 3.2003-2.53588zm-11.9648 0c1.6043 0 2.9401 1.09873 3.2003 2.53588H7.58067C7.8408 2.11593 9.17666 1.0172 10.7816 1.0172zM1.44097 8.03469v-.00387c0-1.01397.46713-1.92699 1.20958-2.56047.65551-.55907 1.52492-.90008 2.47851-.90008h1.35518c.08418.62895.32086 1.22944.70244 1.75939.80662 1.12397 2.15007 1.79433 3.59422 1.79433 1.4442 0 2.7877-.67101 3.5936-1.79433.1677-.23294.1014-.54937-.147-.70531-.2484-.15724-.5858-.09511-.7528.13783-.6044.84249-1.6118 1.34526-2.6938 1.34526-1.0819 0-2.08931-.50277-2.69445-1.34591-.25944-.36042-.43057-.76613-.50647-1.19061H18.4497c.0835.6309.3209 1.23202.7024 1.75939.8053 1.12396 2.1494 1.79498 3.595 1.79498 1.4442 0 2.7869-.67102 3.5922-1.79498.1676-.23295.1007-.54937-.147-.70531-.2491-.15724-.5858-.09512-.7528.13783-.6038.84248-1.6098 1.34525-2.6917 1.34525-1.084 0-2.0908-.50277-2.6952-1.34655-.2601-.35977-.4299-.76419-.5058-1.18997h10.869c.0842.6296.3209 1.23009.7025 1.7594.8059 1.12396 2.1486 1.79433 3.5928 1.79433 1.4463 0 2.7898-.67102 3.595-1.79498.167-.23295.1007-.54937-.1484-.70531-.2484-.15724-.5851-.09447-.7528.13848-.6023.84184-1.6105 1.3446-2.6938 1.3446-1.0812 0-2.0879-.50276-2.6931-1.3459-.2594-.36042-.4291-.76614-.505-1.19062h10.869c.0835.6296.3201 1.23009.7017 1.7594.8066 1.12396 2.1508 1.79433 3.595 1.79433 1.4435 0 2.7869-.67037 3.5935-1.79433.167-.23295.1015-.54937-.1469-.70596-.2484-.15724-.5852-.09577-.7528.13783-.6059.84248-1.6119 1.34525-2.6938 1.34525-1.0827 0-2.0894-.50277-2.6952-1.34655-.2595-.36042-.4299-.76548-.5058-1.19061h8.8632c.0027 0 .0055.00064.0083.00064 2.0334 0 3.6887 1.55169 3.6887 3.45926V41.2133c0 1.9069-1.6546 3.4599-3.6894 3.4599H5.13183c-2.03415 0-3.68879-1.5523-3.68879-3.4599V8.03469h-.00207zm0 36.01671c.87631.9997 2.20458 1.6377 3.68879 1.6377H52.3471c1.4835 0 2.8118-.638 3.6888-1.6377v1.1285c0 .0006-.0007.0006-.0007.0013 0 1.9069-1.6547 3.4592-3.6888 3.4592H5.12976c-2.03415 0-3.68879-1.5517-3.68879-3.4592v-1.1298z"
            />
            <path
              fill="#6198E9"
              d="M34.713 33.8382c.2994 0 .5423-.2278.5423-.508V17.7861c0-.2808-.2436-.5092-.5423-.5092-.3009 0-.5431.2284-.5431.5092v15.5441c0 .2802.2422.508.5431.508zM27.3126 36.8405c.2994 0 .5423-.2277.5423-.5086V14.7827c0-.2815-.2429-.5093-.5423-.5093-.3002 0-.5431.2278-.5431.5093v21.5492c0 .2815.2429.5086.5431.5086zM22.5717 36.8405c.3001 0 .5423-.2277.5423-.5086V14.7827c0-.2815-.2429-.5093-.5423-.5093-.2995 0-.5424.2278-.5424.5093v21.5492c0 .2815.2429.5086.5424.5086zM17.8295 40.4016c.3001 0 .543-.2278.543-.5086V11.222c0-.2809-.2429-.5086-.543-.5086-.2995 0-.5424.2277-.5424.5086v28.671c0 .2815.2429.5086.5424.5086zM13.0899 40.4016c.2995 0 .5424-.2278.5424-.5086V11.222c0-.2809-.2436-.5086-.5424-.5086-.3001 0-.543.2277-.543.5086v28.671c.0007.2815.2436.5086.543.5086zM8.35093 32.3882c.30015 0 .54233-.2291.54233-.5092V19.2352c0-.2809-.24287-.5086-.54233-.5086-.29945 0-.54233.2277-.54233.5086V31.879c-.00069.2808.24219.5092.54233.5092zM5.3653 47.6741h46.7474c.2994 0 .5423-.2276.5423-.5089 0-.2806-.2436-.5075-.5423-.5075H5.3653c-.30015 0-.54303.2276-.54303.5075 0 .2813.24288.5089.54303.5089z"
            />
          </svg>
          <span class="content">
            <h4>Ücretsiz Eğitimler</h4>
            <p>Uzman eğitmenlerimizden telefon ile birebir ücretsiz eğitim alın!</p>
          </span>
        </a>
        <a class="c-icon-box horizontal lg-mt-1 is-link"
           data-toggle-class
           data-toggle-target="#fl-platforms"
           data-toggle-radio-group="ForexLessons">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 62 54">
            <defs />
            <path fill="#6198E9" d="M58.3273.984863H3.67409C1.64879.984863 0 2.51564 0 4.39739V41.5924c0 1.8811 1.64811 3.4118 3.67409 3.4118H24.7637l-1.5883 7.1578h-4.6847c-.3779 0-.6837.284-.6837.6356 0 .3504.3065.6344.6837.6344h25.02c.3771 0 .683-.284.683-.6344 0-.3516-.3059-.6356-.683-.6356h-4.6854l-1.5883-7.1578h21.0896c2.0253 0 3.6734-1.5307 3.6734-3.4118V4.39739c.0014-1.88175-1.6467-3.412527-3.6727-3.412527zM37.43 52.162H24.5714l1.5883-7.1578h9.682L37.43 52.162zm23.2039-10.5696c0 1.181-1.0337 2.143-2.3066 2.143H3.67409c-1.27227 0-2.30735-.9614-2.30735-2.143V4.39739c0-1.1817 1.03508-2.14309 2.30735-2.14309H58.3273c1.2722 0 2.3066.96139 2.3066 2.14309V41.5924z" />
            <path fill="#6198E9" d="M58.2588 4.05664H3.74425c-.37787 0-.6837.28469-.6837.63503V38.705c0 .3516.30651.6356.6837.6356H58.2588c.3772 0 .6837-.284.6837-.6356V4.69167c0-.35034-.3072-.63503-.6837-.63503zm-.6844 34.01456H4.42796V5.3267H57.5744v32.7445zM34.7717 40.8364h-7.5418c-.3779 0-.683.284-.683.6349 0 .3509.3058.6349.683.6349h7.5418c.3772 0 .683-.284.683-.6349 0-.3509-.3058-.6349-.683-.6349z" />
            <path fill="#6198E9" d="M18.2904 14.7539h3.9378c.3779 0 .683-.2847.683-.6345 0-.351-.3058-.6351-.683-.6351h-3.9378c-.6123 0-1.1112-.4627-1.1112-1.0316v-.4154c0-.5694.4982-1.0316 1.1112-1.0316h25.1464c.6123 0 1.1111.4622 1.1111 1.0316v.4154c0 .5689-.4981 1.0316-1.1111 1.0316H39.499c-.3786 0-.6837.2841-.6837.6351 0 .3504.3051.6345.6837.6345h3.9378c1.366 0 2.4779-1.0322 2.4779-2.3018v-.4154c0-1.2696-1.1119-2.30184-2.4779-2.30184H18.2904c-1.366 0-2.4779 1.03284-2.4779 2.30184v.4154c.0007 1.2696 1.1119 2.3018 2.4779 2.3018z" />
            <path fill="#6198E9" d="M30.2699 17.7747h3.2561c.3785 0 .6844-.2847.6844-.635 0-.3504-.3059-.635-.6844-.635h-1.9764V14.984c0-.3503-.3065-.6344-.6843-.6344-.3772 0-.6831.2841-.6831.6344v1.5251c-1.4741.0429-2.66 1.1684-2.66 2.5489 0 1.407 1.2328 2.5527 2.7477 2.5527h1.1921c.7612 0 1.381.5757 1.381 1.2833 0 .7077-.6198 1.2833-1.381 1.2833h-3.2568c-.3772 0-.6837.2841-.6837.6344 0 .3504.3065.6351.6837.6351h1.9763v1.52c0 .3509.3066.635.6831.635.3785 0 .6844-.2841.6844-.635v-1.5245c1.4747-.0435 2.6607-1.1684 2.6607-2.5489 0-1.4077-1.2322-2.5527-2.7484-2.5527h-1.1921c-.7612 0-1.3803-.5757-1.3803-1.2833 0-.707.6191-1.2827 1.381-1.2827z" />
            <path
              fill="#6198E9"
              d="M30.8645 12.1943c-5.2134 0-9.4543 3.9392-9.4543 8.7816 0 4.8425 4.2409 8.7816 9.4543 8.7816 5.2142 0 9.4551-3.9391 9.4551-8.7816 0-4.8424-4.2409-8.7816-9.4551-8.7816zm0 16.2937c-4.4591 0-8.0876-3.3697-8.0876-7.5121s3.6285-7.5121 8.0876-7.5121c4.4598 0 8.0876 3.3697 8.0876 7.5121s-3.6278 7.5121-8.0876 7.5121zM30.8634 31.3506c-.3779 0-.6837.2841-.6837.6351v2.1093c0 .3517.3058.6358.6837.6358.3779 0 .6831-.2841.6831-.6358v-2.1093c0-.351-.3052-.6351-.6831-.6351zM37.3831 30.1932c-.1882-.3043-.6076-.4078-.9338-.2323-.3269.1755-.439.5637-.2501.8674l1.135 1.8262c.1278.2039.3561.3176.5933.3176.1155 0 .2338-.0272.3405-.0852.3269-.1755.439-.5638.2508-.8674l-1.1357-1.8263zM43.4374 26.9853l-1.9661-1.0543c-.3276-.1755-.7456-.0714-.9339.2323-.1896.3037-.0768.692.2495.8675l1.9668 1.0544c.1074.058.225.0852.3412.0852.2365 0 .4662-.1137.5926-.3176.1897-.3037.0768-.692-.2501-.8675zM20.2587 25.931l-1.9676 1.0546c-.3269.1755-.439.5639-.2501.8683.1264.2039.3561.3176.5927.3176.1155 0 .2331-.0272.3404-.0853l1.9676-1.0546c.3269-.1755.4391-.5639.2508-.8676-.1889-.3044-.6076-.4086-.9338-.233zM25.2781 29.9609c-.3269-.1755-.7455-.072-.9338.2323l-1.1356 1.8263c-.1883.3036-.0768.6925.2501.8674.1074.058.2256.0852.3412.0852.2365 0 .4662-.1137.5926-.3169l1.1356-1.8269c.189-.3037.0775-.6919-.2501-.8674z"
            />
          </svg>
          <span class="content">
            <h4>Lisanslı Platformlar</h4>
            <p>5 gün 24 saat boyunca lisanslı işlem platformlarımızda yatırım yapabilirsiniz!</p>
          </span>
        </a>
        <a class="c-icon-box horizontal lg-mt-1 is-link"
           data-toggle-class
           data-toggle-target="#fl-analysis"
           data-toggle-radio-group="ForexLessons">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 60 60">
            <defs />
            <path
              fill="#6198E9"
              d="M58.7489 5.15859c.284 0 .5143-.21595.5143-.4823V1.20838c0-.266353-.2303-.482306-.5143-.482306H.590482c-.284028 0-.5143101.215953-.5143101.482306v3.46791c0 .26635.2302821.4823.5143101.4823H3.2838V37.7661H.590482c-.284028 0-.5143101.216-.5143101.4823v3.4665c0 .2664.2302821.4823.5143101.4823H29.1592v4.8213c-3.4142.2473-6.1121 2.9296-6.1121 6.1934 0 3.4263 2.9726 6.2138 6.6264 6.2138 3.6538 0 6.6262-2.7875 6.6262-6.2138 0-3.2638-2.6978-5.9461-6.1119-6.1934v-4.8213h28.5611c.284 0 .5143-.2159.5143-.4823v-3.4665c0-.2663-.2303-.4823-.5143-.4823h-2.6865V5.15859h2.6865zM35.2711 53.2121c0 2.8945-2.5111 5.249-5.5976 5.249-3.0867 0-5.5978-2.3545-5.5978-5.249 0-2.8949 2.5111-5.2495 5.5978-5.2495 3.0865 0 5.5976 2.355 5.5976 5.2495zm22.9634-14.4814v2.5019H1.10479v-2.5019H58.2345zm-53.92208-.9646V5.15859H55.0337V37.7661H4.31242zM55.5493 4.19398c-.0004 0-.0009-.00012-.0013-.00012H3.79811c-.00039 0-.00077.00012-.00129.00012H1.10479V1.69069H58.2345v2.50329h-2.6852z"
            />
            <path fill="#6198E9" d="M18.9772 8.70898c-.284 0-.5143.21594-.5143.48227v6.82615c0 .2663.2303.4823.5143.4823h7.2798c.2841 0 .5143-.216.5143-.4823 0-4.0298-3.4964-7.30842-7.7941-7.30842zm.5143 6.82602V9.6916c3.3213.23523 5.9811 2.7292 6.2319 5.8434h-6.2319z" />
            <path
              fill="#6198E9"
              d="M24.8144 17.4827h-7.5507v-7.0746c0-.2664-.2303-.48232-.5143-.48232-4.7308 0-8.57948 3.60642-8.57948 8.03922 0 4.4361 3.84868 8.045 8.57948 8.045 4.7306 0 8.5793-3.6089 8.5793-8.045 0-.2664-.2303-.4823-.5143-.4823zm-8.065 7.5628c-4.1636 0-7.55086-3.1762-7.55086-7.0804 0-3.7391 3.11186-6.8101 7.03656-7.0584v7.0584c0 .2664.2303.4823.5143.4823h7.5333c-.2652 3.6802-3.5427 6.5981-7.5333 6.5981zM48.2112 17.7119H30.0983c-.284 0-.5143.2159-.5143.4822s.2303.4821.5143.4821h18.1129c.284 0 .5143-.2158.5143-.4821s-.2303-.4822-.5143-.4822zM48.2112 21.936H30.0983c-.284 0-.5143.216-.5143.4825 0 .2664.2303.4824.5143.4824h18.1129c.284 0 .5143-.216.5143-.4824 0-.2665-.2303-.4825-.5143-.4825zM48.2112 26.1675H30.0983c-.284 0-.5143.2159-.5143.4821 0 .2663.2303.4822.5143.4822h18.1129c.284 0 .5143-.2159.5143-.4822 0-.2662-.2303-.4821-.5143-.4821zM11.6471 29.8037c-.284 0-.5143.216-.5143.4823v5.0015c0 .2663.2303.4823.5143.4823.2841 0 .5144-.216.5144-.4823V30.286c0-.2663-.2303-.4823-.5144-.4823zM15.3874 31.5283c-.2841 0-.5144.216-.5144.4823v3.277c0 .2663.2303.4823.5144.4823.284 0 .5143-.216.5143-.4823v-3.277c0-.2663-.2303-.4823-.5143-.4823z"
            />
          </svg>
          <span class="content">
            <h4>Piyasa Analizleri</h4>
            <p>Para piyasalarında işlem yapmadan önce fikir sahibi olun!</p>
          </span>
        </a>
        <a class="c-icon-box horizontal lg-mt-1 is-link"
           data-toggle-class
           data-toggle-target="#fl-risk"
           data-toggle-radio-group="ForexLessons">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 61 55">
            <defs />
            <path fill="#6198E9" d="M37.8099 20.1123h-.674c-.0021 0-.0042-.0007-.0062-.0007-.0028 0-.0048.0007-.0069.0007h-3.0327c-.3655 0-.6624.2784-.6624.6211s.2969.6212.6624.6212h2.3766v1.8634c0 .3427.2968.6211.663.6211.3655 0 .6624-.2784.6624-.6211v-1.8634h.0178c1.6648 0 3.0204-1.2706 3.0204-2.8324 0-1.5625-1.3563-2.8331-3.0204-2.8331h-1.3604c-.9352 0-1.697-.7137-1.697-1.5908 0-.877.7611-1.5901 1.697-1.5901h3.7184c.3655 0 .6631-.2784.6631-.6211 0-.3434-.2976-.6212-.6631-.6212h-2.3758v-1.864c0-.34336-.2969-.62114-.6624-.62114-.3662 0-.663.27842-.663.62114v1.864h-.0172c-1.6662 0-3.0211 1.2706-3.0211 2.8324 0 1.5625 1.3556 2.8331 3.0211 2.8331h1.3604c.9346 0 1.6957.7137 1.6957 1.5908 0 .877-.7605 1.5901-1.6957 1.5901z" />
            <path
              fill="#6198E9"
              d="M37.1305 26.3258c5.8886 0 10.6787-4.4927 10.6787-10.0155 0-5.5222-4.7901-10.01489-10.6787-10.01489-5.8892 0-10.6793 4.49269-10.6793 10.01489s4.7908 10.0155 10.6793 10.0155zm0-18.78745c5.1577 0 9.354 3.93525 9.354 8.77195 0 4.8374-4.1956 8.7726-9.354 8.7726-5.1583 0-9.3546-3.9352-9.3546-8.7726 0-4.8367 4.197-8.77195 9.3546-8.77195zM37.1292 4.23731c.3655 0 .6631-.2784.6631-.62109V1.18456c0-.343335-.2976-.621083-.6631-.621083-.3662 0-.6624.278391-.6624.621083v2.43166c0 .34334.2962.62109.6624.62109zM29.7878 5.62712c.1227.1993.3456.31052.5746.31052.1124 0 .2263-.027.3305-.08358.3168-.17165.4251-.5516.2427-.84862l-1.2973-2.10548c-.1824-.29702-.5876-.3986-.9044-.22759-.3168.1723-.4258.5516-.2427.84862l1.2966 2.10613zM22.8298 9.28517l2.2456 1.21563c.1042.0566.218.083.3304.083.2291 0 .4519-.1112.5746-.3105.1831-.29705.0741-.67698-.2427-.84863l-2.2456-1.21568c-.3167-.171-.722-.06943-.9051.22758-.183.29701-.0747.67695.2428.8486zM21.0002 16.9313h2.5932c.3655 0 .6624-.2784.6624-.6212 0-.3427-.2969-.6211-.6624-.6211h-2.5932c-.3661 0-.6623.2784-.6623.6211 0 .3434.2962.6212.6623.6212zM25.0752 22.1192l-2.2456 1.2168c-.3168.1717-.4258.5518-.2427.849.122.1993.3449.3106.5739.3106.1125 0 .2263-.027.3305-.083l2.2456-1.2168c.3168-.1717.4251-.5518.2427-.8489-.183-.2972-.5876-.3988-.9044-.2277zM29.7878 26.9933l-1.2966 2.1064c-.1831.2971-.0741.6771.2427.8481.1042.0566.2181.0836.3305.0836.2284 0 .4519-.1119.5739-.3106l1.2973-2.1058c.1831-.297.0741-.677-.2427-.8487-.3161-.171-.722-.0701-.9051.227zM37.1298 28.3838c-.3661 0-.6623.2791-.6623.6218l-.0007 2.4319c0 .3427.2969.6218.663.6218.3655 0 .6624-.2791.6624-.6218l.0007-2.4313c0-.344-.2976-.6224-.6631-.6224zM43.5676 26.7661c-.3168.1717-.4251.551-.2427.8488l1.2966 2.1065c.1227.1994.3456.3106.5746.3106.1124 0 .2263-.0276.3298-.0842.3175-.171.4258-.5504.2427-.8482l-1.2959-2.1059c-.1831-.2977-.5876-.3993-.9051-.2276zM48.521 23.1958l2.2463 1.2168c.1036.0566.2181.083.3305.083.229 0 .4512-.1113.5746-.3106.1824-.2972.0734-.6773-.2427-.849l-2.2463-1.2168c-.3168-.1711-.722-.0695-.9051.2277-.1831.2971-.074.6772.2427.8489zM50.667 15.689c-.3662 0-.6631.2784-.6631.6211 0 .3428.2969.6212.6624.6212h2.5939c.3655 0 .6624-.2784.6624-.6212 0-.3427-.2969-.6211-.6624-.6211H50.667zM48.8546 10.5838c.1124 0 .2262-.027.3298-.083l2.2469-1.21555c.3168-.17164.4251-.55092.2427-.84856-.1824-.29763-.5883-.39856-.9044-.22756l-2.2469 1.21561c-.3168.17164-.4251.55155-.2428.84856.1228.1993.3456.3105.5747.3105zM43.5674 5.8546c.1042.05659.2187.0836.3305.0836.2297 0 .4512-.11125.5746-.3106l1.2973-2.10606c.1831-.2971.0741-.67716-.2427-.84886-.3161-.1717-.722-.06945-.9044.22765l-1.2973 2.10606c-.1831.29645-.0748.67651.242.84821z"
            />
            <path
              fill="#6198E9"
              d="M59.5467 34.8181c-.9572-1.2835-3.0732-1.7773-4.7216-1.1028l-11.3019 4.3731c-.4567-1.3265-1.8033-2.2769-3.3872-2.2769h-9.9787c-.7432 0-1.7779-.1029-2.8373-.2829-.9736-.1685-1.8732-.3858-2.5342-.6128l-.059-.0212c-.0048-.002-.0096-.0039-.0144-.0058-1.7738-.6102-4.4959-.9748-7.2811-.9748h-4.3877v-1.1278c0-1.1632-1.01-2.1098-2.2503-2.1098H8.41259v-.9921c0-.3427-.2969-.6218-.66236-.6218H.738535c-.36615 0-.6623631.2791-.6623631.6218v24.1931c0 .3433.2968991.6211.6623631.6211H7.75023c.36615 0 .66236-.2778.66236-.6211v-1.297h2.38071c1.2403 0 2.2503-.9471 2.2503-2.1097v-1.4384l18.6174 4.0522c.3902.0798.8228.1177 1.2747.1177 1.4481 0 3.0944-.3897 4.1737-1.041l21.3937-13.1694c.7878-.4758 1.3391-1.2204 1.5119-2.0435.1577-.7574-.0082-1.513-.4683-2.1302zM7.08582 53.2562H1.39953V30.3061h5.68629v22.9501zm4.63038-18.7275c0 .0026-.0007.0045-.0007.0071 0 .0019.0007.0032.0007.0057V50.4714c0 .4777-.4142.8674-.925.8674H8.41053V31.92h2.38067c.5101 0 .925.389.925.8674v1.7413zm46.9974 2.1778c-.1035.4939-.4423.9453-.9332 1.2423L36.3867 51.1176c-1.1135.6726-3.1493 1.0166-4.4363.7536l-18.9088-4.114V35.1563h4.3876c2.6344 0 5.1816.335 6.817.8963l.0589.0212c.0048.002.0096.0039.0144.0058.7303.2521 1.7108.4906 2.7612.6713 1.152.1961 2.2442.3035 3.0753.3035h9.9793c1.1924 0 2.1708.8475 2.2257 1.929 0 .0045.0007.0097.0007.0135.0027.0264.0034.0547.0034.0823 0 .128-.0144.2572-.0425.3871-.2023.9478-1.1225 1.6358-2.1873 1.6358h-9.9635c-.286-.0109-2.9553-.063-5.1735 1.7342-.277.2244-.3078.6167-.0685.8764.1309.1421.3154.2148.5012.2148.1536 0 .3079-.0502.4327-.1511 1.8815-1.5233 4.234-1.4339 4.2559-1.4333.0117.0007.0247.0013.0364.0013h9.9793c1.6943 0 3.1602-1.1079 3.4859-2.6318.0247-.1125.0426-.2257.0535-.3395l11.662-4.512c.0048-.0019.0096-.0032.0144-.0051 1.0813-.445 2.5047-.137 3.1088.6739.2523.3375.3421.7555.2537 1.1766z"
            />
          </svg>
          <span class="content">
            <h4>Sıfır Risk İle Deneme</h4>
            <p>Yatırım yapmadan önce 10.000 USD İle deneme imkanı</p>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
