<div class="c-section s-most-users light-style">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="c-section__title mb-2 lg-mb-5">
          <h1>En iyi tercihler yapan ve en çok kazanan üyelerimize katılmak ister misiniz?</h1>
          <h5>Hemen katılın ve kazanmaya başlayın.</h5>
        </div>
        <a href="#" class="btn btn-white">
          Listeyi Göster
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
            <defs></defs>
            <path fill-rule="nonzero" d="M.763129 5.81769H6.665c.322 0 .483.45577.253.72386L5.17 8.57909c-.276.32172-.276.85791 0 1.17962.276.32169.736.32169 1.012 0l3.611-4.1823c.276-.32172.276-.85791 0-1.17963L6.228.241287C6.09.0804284 5.906-6.2e-7 5.722-6.2e-7S5.354.0804285 5.216.241287c-.276.321716-.276.857913 0 1.179623l1.702 2.01073c.23.26809.069.72386-.253.72386H.717127c-.413999 0-.7589996.42895-.71299903.91152.04599953.42896.39100103.75067.75900103.75067z"></path>
          </svg>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <div class="carousel__wrapper" data-pull-right>
          {% include '../../../modules/most-users/most-users.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>