<div class="c-section light-style s-price-provider">
  <div class="c-section__title">
    <div class="container">
      <h1>{{LangValue('index_providerst1')}}</h1>
    </div>
  </div>
  <div class="c-section__content">
    <div class="container">
      <div class="price-providers">
        <img src="assets/img/service-provider-citibank.png" alt="" />
        <img src="assets/img/service-provider-commerzbank.png" alt="" />
        <img src="assets/img/service-provider-deutsche-bank.png" alt="" />
        <img src="assets/img/service-provider-goldman.png" alt="" />
        <img src="assets/img/service-provider-pepperstone.png" alt="" />
        <img src="assets/img/service-provider-swissquote.png" alt="" />
      </div>
    </div>
  </div>
</div>
