.c-sidebar-menu {
  border-radius: 15px;
  &__title {
    padding: $space-15 $space-2;
    background-color: $color-dark;
    color: $color-white;
    border-radius: 15px 15px 0 0;
    h4 {
      margin-bottom: 0;
    }
  }
  &__nav {
    background-color: $color-white;
    border-radius: 0 0 15px 15px;
    margin: 0;
    li {
      margin-bottom: 0;
      a {
        color: $color-dark;
        display: block;
        padding: 0 $space-2 0 $space-1;
        line-height: 50px;
        font-weight: $font-weight-medium;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        &::before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          background-color: #dcd;
          border-radius: 50%;
          margin-right: $space-1;
          transition: background-color 0.2s ease-in-out;
        }
        &:hover {
          color: $color-white;
          background-color: $color-primary;
          &::before {
            background-color: $color-white;
          }
        }
      }
      &:nth-child(even) {
        background-color: #f9fafc;
      }
      &:last-child {
        a {
          border-radius: 0 0 15px 15px;
        }
      }
    }
  }
}
