.c-signal-sidebar {
  $signalSidebar: &;
  &__menu {
    @include respond-below(md) {
      display: none;
    }
    h5 {
      font-weight: $font-weight-medium;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $color-dark;
      padding-left: $space-050;
      &::before {
        content: '';
        display: inline-flex;
        width: 24px;
        height: 21px;
        margin-right: $space-1;
      }
    }
    &.top-rated {
      h5 {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 21'%3E%3Cdefs/%3E%3Cg fill='%232F2D3B' opacity='.9'%3E%3Cpath d='M.828947 0C.609097 0 .398251.0873352.242793.242793.0873352.398251 0 .609097 0 .828947V18.5132c0 .6595.262006 1.292.728379 1.7584C1.19475 20.738 1.82729 21 2.48684 21H20.5386c.2198 0 .4306-.0873.5861-.2428.1555-.1555.2428-.3663.2428-.5861 0-.2199-.0873-.4307-.2428-.5862-.1555-.1555-.3663-.2428-.5861-.2428H2.48684c-.21985 0-.43069-.0873-.58615-.2428-.15546-.1554-.2428-.3663-.2428-.5861V.828947c0-.21985-.08733-.430696-.24279-.586154C1.25964.0873352 1.0488 0 .828947 0z'/%3E%3Cpath d='M23.1361 8.26746V3.52035c0-.21985-.0873-.43069-.2428-.58615-.1554-.15546-.3663-.24279-.5861-.24279h-4.7471c-.2199 0-.4307.08733-.5862.24279-.1554.15546-.2428.3663-.2428.58615 0 .21985.0874.4307.2428.58616.1555.15546.3663.24279.5862.24279h2.9206l-2.4868 2.95382-4.2387-.56921c-.1839-.02452-.3706.01334-.5304.10752s-.2834.23923-.351.41195L11.0142 11.995l-4.3382-.7875c-.16715-.03-.33948-.0079-.49367.0632-.15418.0712-.2828.188-.36844.3347l-2.64986 4.4652c-.05778.0937-.09632.198-.11337.3067-.01705.1087-.01228.2198.01404.3267.02632.1068.07366.2074.13926.2958.0656.0884.14814.1628.24281.2189.09467.0562.19958.0929.30859.1081.10902.0151.21997.0084.32637-.0197.1064-.0282.20613-.0773.29336-.1444.08724-.0671.16023-.1509.21473-.2466l2.35697-3.9734 4.45421.8069c.1892.0343.3844.0018.5523-.092.1678-.0937.2979-.2429.3678-.422l1.8596-4.77196 4.0591.55263c.1376.0202.278.00548.4084-.0428.1303-.04829.2465-.12859.3377-.23351l2.4868-2.97592V8.2868c0 .21985.0873.4307.2428.58616.1555.15545.3663.24279.5862.24279.2198 0 .4307-.08734.5861-.24279.1555-.15546.2428-.36631.2428-.58616l.0055-.01934z'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }
    &.top-rated-down {
      h5 {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 21'%3E%3Cdefs/%3E%3Cg fill='%232F2D3B' opacity='.9'%3E%3Cpath d='M.828947 0C.609097 0 .398251.0873352.242793.242793.0873352.398251 0 .609097 0 .828947V18.5132c0 .6595.262006 1.292.728379 1.7584C1.19475 20.738 1.82729 21 2.48684 21H20.5386c.2198 0 .4306-.0873.5861-.2428.1555-.1555.2428-.3663.2428-.5861 0-.2199-.0873-.4307-.2428-.5862-.1555-.1555-.3663-.2428-.5861-.2428H2.48684c-.21985 0-.43069-.0873-.58615-.2428-.15546-.1554-.2428-.3663-.2428-.5861V.828947c0-.21985-.08733-.430696-.24279-.586154C1.25964.0873352 1.0488 0 .828947 0z'/%3E%3Cpath d='M23.1361 11.7584v4.7471c0 .2199-.0873.4307-.2428.5862-.1554.1554-.3663.2428-.5861.2428h-4.7471c-.2199 0-.4307-.0874-.5862-.2428-.1554-.1555-.2428-.3663-.2428-.5862 0-.2198.0874-.4307.2428-.5861.1555-.1555.3663-.2428.5862-.2428h2.9206l-2.4868-2.9538-4.2387.5692c-.1839.0245-.3706-.0134-.5304-.1076-.1598-.0941-.2834-.2392-.351-.4119l-1.8596-4.74158-4.3382.7875c-.16715.02997-.33948.00788-.49367-.06329-.15418-.07116-.2828-.18796-.36844-.33461L3.16403 3.95526c-.05778-.09368-.09632-.19794-.11337-.30667-.01705-.10874-.01228-.21979.01404-.32666.02632-.10688.07366-.20744.13926-.29582.0656-.08838.14814-.16282.24281-.21896.09467-.05614.19958-.09287.30859-.10804.10902-.01517.21997-.00847.32637.0197.1064.02816.20613.07724.29336.14435.08724.06712.16023.15094.21473.24658l2.35697 3.97342 4.45421-.80684c.1892-.03434.3844-.00184.5523.09191.1678.09376.2979.24295.3678.42203l1.8596 4.77194 4.0591-.5526c.1376-.0202.278-.0055.4084.0428.1303.0483.2465.1286.3377.2335l2.4868 2.9759v-2.5227c0-.2199.0873-.4307.2428-.5862.1555-.1554.3663-.2428.5862-.2428.2198 0 .4307.0874.5861.2428.1555.1555.2428.3663.2428.5862l.0055.0193z'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    border-radius: 5px;
    .logo {
      background-color: $color-dark;
      padding: $space-1;
      flex: 0 0 30%;
      border-radius: 0 5px 5px 0;
      svg,
      img {
        display: block;
        max-width: 80%;
        margin: 0 auto;
      }
    }
    .content {
      flex: 0 0 70%;
      padding: $space-050 $space-1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .value {
        .top-rated &,
        .top-rated-down & {
          font-weight: $font-weight-bold;
          font-size: rem(16);
          &::after {
            content: '';
            display: inline-flex;
            width: 9px;
            height: 9px;
          }
        }
        .top-rated & {
          color: $color-success;
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 9 9'%3E%3Cdefs/%3E%3Cpath fill='%2396C868' d='M5.09095 7.61153V3.38982c0-.32729.39885-.49094.63347-.25716L7.50751 4.9094c.28154.28053.75077.28053 1.03231 0 .28154-.28054.28154-.7481 0-1.02864L4.87979.210403c-.28154-.2805372-.75077-.2805372-1.03231 0L.210913 3.834c-.1407712.14027-.21115614.3273-.21115613.51432 0 .18703.07038493.37405.21115613.51432.28154.28054.750774.28054 1.032317 0l1.75963-1.72998c.23461-.23378.63346-.07013.63346.25716v4.26847c0 .42081.37539.77148.7977.72472.37539-.04675.65693-.39743.65693-.77148z'/%3E%3C/svg%3E");
          }
        }
        .top-rated-down & {
          color: $color-error;
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 9 9'%3E%3Cdefs/%3E%3Cpath fill='%23F55D61' d='M5.09095.775673V4.99739c0 .32729.39885.49094.63347.25715l1.78309-1.77673c.28154-.28054.75077-.28054 1.03231 0s.28154.7481 0 1.02864L4.87979 8.1768c-.28154.28054-.75077.28054-1.03231 0L.210913 4.5532c-.1407712-.14027-.21115614-.32729-.21115613-.51432 0-.18702.07038493-.37405.21115613-.51431.28154-.28054.750774-.28054 1.032317 0l1.75963 1.72997c.23461.23379.63346.07014.63346-.25715V.728916c0-.420806.37539-.7714766.7977-.72471989.37539.04675579.65693.39742789.65693.77147689z'/%3E%3C/svg%3E");
          }
        }
      }
      .name {
        font-size: rem(14);
        font-weight: $font-weight-bold;
        color: $color-dark;
        small {
          color: rgba($color-dark, 0.5);
          margin-top: $space-025;
        }
      }
    }
  }
}
