$body-bg: #e1e7ee !default;

$toolbar-background: #145ab9;
$header-background: transparent;
$header-sticky-background: $toolbar-background;
$footer-background: #26242f;
$footer-navigation-background: #2d2a38;
$sub-footer-background: #1e1c25;
