{% extends '../layouts/default.twig' %} {% set head_title = 'Index' %}
{% set body_class = 'p-data-bank' %} {% set menu_active = 'blank-page'
%} {% block page %} {% set live_exchange = true %} {% include
'../components/header.twig' %}

<div class="main-wrapper">
  <div class="c-page-title mt-4">
    <div class="container">
      <h1><strong>Bilgi</strong> Bankası</h1>
      <p>
        Bilgi Bankası
      </p>
    </div>
  </div>
  <div class="p-data-bank__container">
    <div class="container">
      <div class="p-data-bank__search">
        <input
          type="text"
          class="form-input js-shuffle-search"
          placeholder="Bilgi bankasında arama yapın..."
        />
      </div>
      <div class="p-data-bank__navigation filter-options">
        <button data-group="all">TÜMÜ</button>
        <button data-group="a">A</button>
        <button data-group="b">B</button>
        <button data-group="c">C</button>
        <button data-group="d">D</button>
        <button data-group="e">E</button>
        <button data-group="f">F</button>
        <button data-group="g">G</button>
        <button data-group="h">H</button>
        <button data-group="i">I</button>
        <button data-group="j">J</button>
        <button data-group="k">K</button>
        <button data-group="l">L</button>
        <button data-group="m">M</button>
        <button data-group="n">N</button>
        <button data-group="o">O</button>
        <button data-group="p">P</button>
        <button data-group="q">Q</button>
        <button data-group="r">R</button>
        <button data-group="s">S</button>
        <button data-group="t">T</button>
        <button data-group="u">U</button>
        <button data-group="v">V</button>
        <button data-group="w">W</button>
        <button data-group="x">X</button>
        <button data-group="y">Y</button>
        <button data-group="z">Z</button>
      </div>
      <div class="p-data-bank__items">
        <div data-masonry="">
          <div data-groups='["a"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
          <div data-groups='["b"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
          <div data-groups='["c"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
          <div data-groups='["d"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
          <div data-groups='["e"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
          <div data-groups='["f"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at Hampden-Sydney
              Contrary to popular belief, Lorem Ipsum is not simply
              random text....
            </p>
          </div>
          <div data-groups='["g"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
          <div data-groups='["h"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
          <div data-groups='["z"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at Hampden-Sydney
              Contrary to popular belief, Lorem Ipsum is not simply
              random text....
            </p>
          </div>
          <div data-groups='["k"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
          <div data-groups='["l"]' class="p-data-bank__item">
            <h3>Operasyon sona erme oranı</h3>
            <hr />
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply
              random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old.
              Richard McClintock, a Latin professor at
              Hampden-Sydney...
            </p>
          </div>
        </div>
      </div>
      <a href="#" class="btn btn-block btn-lg btn-load-more mt-2" databank-load-more>load more</a
      >
    </div>
  </div>
</div>
{% include '../components/footer.twig' %} {% endblock %}
