{% extends '../layouts/default.twig' %} {% set head_title = 'Index' %} {% set body_class =
'p-economic-calendar' %} {% set menu_active = 'blank-page' %} {% block page %} {% set live_exchange = true
%} {% include '../components/header.twig' %}

<div class="main-wrapper">
  <div class="c-page-title mt-4">
    <div class="container">
      <h1><strong>Ekonomik</strong> Takvim</h1>
      <p>
        Ürün özelliklerimizin gelişmiş detaylarına aşağıdan ulaşabilirsiniz
      </p>
    </div>
  </div>
  <div class="container mt-4 pb-4">
    {% include '../../modules/investment-table/investment-table.twig' with {'searchUp': true,
    'border': 'bottom', 'page': 'economic-calendar' } %}
  </div>
  <div class="c-page-title mt-2">
    <div class="container">
      <h1><strong>Size Özel</strong> Analizler</h1>
      <p>
        Ürün özelliklerimizin gelişmiş detaylarına aşağıdan ulaşabilirsiniz
      </p>
    </div>
  </div>
  <div class="container mt-3">
    {% include '../../modules/customized-analysis/customized-analysis.twig' %}
  </div>
  {% include '../../modules/create-demo/create-demo.twig' with {'pull': true, 'margin': true, 'bg':
  true, 'shadow': true} %}
</div>
{% include '../components/footer.twig' %} {% endblock %}
