{% extends '../layouts/default.twig' %} 
{% set head_title = data.SefContent.SeoTitle ~ ' ' ~  CoInfo('SeosubFix') %}
{% set head_desc = data.SefContent.SeoDesc %}
{% set body_class =
'p-investment' %} {% set menu_active = 'blank-page' %} {% block page %} {% set live_exchange = true
%} {% include '../components/header.twig' %}

<div class="main-wrapper">
  <div class="c-page-title text-center mt-4">
    <div class="container">
      <h1><strong>Rekabetçi</strong> Spread Aralıklarımız!</h1>
      <p>
        KaleFx Spread oranlarımızı bu sayfadan inceleyebilirsiniz!
      </p>
    </div>
  </div>
  <div class="container mt-4 pb-4">
    {% include '../../modules/investment-table/investment-table.twig' with {'searchUp': true,
    'border': 'bottom', 'page': 'spread' } %}
  </div>
  {% include '../../modules/create-demo/create-demo.twig' with {'pull': true, 'margin': true, 'bg':
  true, 'shadow': true} %}
</div>
{% include '../components/footer.twig' %} {% endblock %}
