<div class="c-customized-analysis" data-js="customized-analysis">
  <div class="c-customized-analysis__col">
    <div class="c-customized-analysis-card">
      <h2>Contrary to popular belief</h2>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
        a Latin professor at Hampden-Sydney...
      </p>
    </div>
  </div>
  <div class="c-customized-analysis__col">
    <div class="c-customized-analysis-card">
      <h2>Contrary to popular belief</h2>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
        a Latin professor at Hampden-Sydney...
      </p>
    </div>
  </div>
  <div class="c-customized-analysis__col">
    <div class="c-customized-analysis-card">
      <h2>Contrary to popular belief</h2>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
        a Latin professor at Hampden-Sydney...
      </p>
    </div>
  </div>
  <div class="c-customized-analysis__col">
    <div class="c-customized-analysis-card">
      <h2>Contrary to popular belief</h2>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
        a Latin professor at Hampden-Sydney...
      </p>
    </div>
  </div>
  <div class="c-customized-analysis__col">
    <div class="c-customized-analysis-card">
      <h2>Contrary to popular belief</h2>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
        a Latin professor at Hampden-Sydney...
      </p>
    </div>
  </div>
  <div class="c-customized-analysis__col">
    <div class="c-customized-analysis-card">
      <h2>Contrary to popular belief</h2>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
        a Latin professor at Hampden-Sydney...
      </p>
    </div>
  </div>
  <div class="c-customized-analysis__col">
    <div class="c-customized-analysis-card">
      <h2>Contrary to popular belief</h2>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
        a Latin professor at Hampden-Sydney...
      </p>
    </div>
  </div>
  <div class="c-customized-analysis__col">
    <div class="c-customized-analysis-card">
      <h2>Contrary to popular belief</h2>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
        of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
        a Latin professor at Hampden-Sydney...
      </p>
    </div>
  </div>
</div>
